.button {
  --main-color: var(--accent-color);
  --main-light-color: var(--accent-light-color);
  background-color: var(--main-light-color);
  border: 0.15em solid var(--main-color);
  color: var(--main-color);
  border-radius: 0.25rem;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: ease;
}
.button:hover {
  background-color: var(--main-color);
  border: 0.15em solid var(--main-color);
  color: var(--main-light-color);
}
.button:disabled {
  background-color: var(--inactive-color);
  border: 0.15em solid var(--inactive-color);
  color: var(--bg-color);
}
