.blueButton {
  width: 75%;
  height: 10%;
  background-color: #f3f1ff;
  border: 0.15em solid #696bff;
  color: #696bff;
  border-radius: 0.25rem;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: ease;
}
.blueButton:hover {
  background-color: #696bff;
  border: 0.15em solid #696bff;
  color: #f3f1ff;
}
.blueButton:disabled {
  background-color: #dddddd;
  border: 0.15em solid #dddddd;
  color: white;
}