.button {
  --main-color: var(--primary-accent);
  --main-light-color: var(--alt-bg);
  background-color: var(--main-light-color);
  border: var(--border-width) solid var(--main-color);
  color: var(--main-color);
  border-radius: var(--block-radius);
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: ease;
}
.button:hover {
  background-color: var(--main-color);
  border: var(--border-width) solid var(--main-color);
  color: var(--main-light-color);
}
.button:disabled {
  background-color: var(--inactive-color);
  border: var(--border-width) solid var(--inactive-color);
  color: var(--bg-color);
}
.holdButton {
  position: relative;
  overflow: hidden;
}
.holdButton .holdOverlay {
  display: block;
  position: absolute;
  top: 0;
  left: 1vw;
  content: "";
  background-color: var(--alt-bg);
  width: 100%;
  height: 100%;
  opacity: 0.2;
}
