.clickableCard {
  display: flex;
  justify-content: start;
  align-items: start;

  min-width: 5vw;
  min-height: 12vh;

  overflow: hidden;
  border-radius: var(--block-radius);
  background-color: var(--alt-bg);
  border-width: var(--border-width);
  border-color: var(--border-color);

  box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.1);
  transition: all 250ms ease;


  font-size: var(--main-header-text);
  font-weight: bold;
  color: var(--main-text-color);
  user-select: none;
}
.clickableCard:hover {
  background-color: var(--hover-color);
  /*background-color: rgba(0, 0, 0, 0.15);*/
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.15);
}
