.clickableCard {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 10rem;
  min-height: 5rem;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.1);
  transition: all 250ms ease;
  font-size: 2.5rem;
  font-family: "Segoe UI";
  font-weight: bold;
  text-decoration: none;
  color: black;
  user-select: none;
}
.clickableCard:hover {
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.15);
}
