.expandableImageContainer {
  position: relative;
  border: var(--border-width) var(--border-color) solid;
  border-radius: var(--block-radius);
  overflow: hidden;
}
.expandableImageContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.expandButtonContainer {
  background-color: rgba(0, 0, 0, 0.1);
  transition: opacity 250ms ease;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 200%;
}
.expandableImageContainer:hover .expandButtonContainer {
  opacity: 1;
}
