.deletionModalInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  gap: 1.5vh;
  width: 100%;
  max-width: 30vw;
  @media (max-width: 1200px) {
    max-width: none;
  }
  height: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}

.warningBlock {
  width: 100%;
  padding: 1rem;
  border-left: 1rem var(--warning-accent) solid;
  background-color: var(--alt-warning-accent);
  color: var(--warning-accent);
  font-size: 1.25rem;
  font-weight: 500;
  text-align: left;
}

.warningHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.8rem;
  width: 15rem;
}

.deletionModalInfoContainer .buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 1.5rem;
  @media (max-width: 1200px) {
    justify-content: center;
    gap: 0.5rem;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
}

.deletionModalInfoContainer .buttonsContainer button {
  font-size: 1.8rem;
  height: 4rem;
  width: 15rem;
  border-radius: 1.5 rem;
}
