.errorCard {
  width: 100%;
  min-height: 5rem;
  background-color: var(--alt-bg);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.errorCard h2 {
  font-size: 2rem;
  padding: 1rem;
}
.errorCard .errorLogo {
  width: 5rem;
  height: 5rem;
  background-color: var(--alt-bg);
  border: 0.25rem var(--border-color) dashed;
}
.errorCard p {
  padding: 1rem;
}
