.loading-div {
  background-color: var(--alt-bg);
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  color: var(--color-text-main)
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
