@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  /*Colors*/
  --color-inactive: #dddddd;
  --color-text-on-accent: #e6edf3;
  --color-border: #b2b2b2;
  --color-text-main: #212519;
  --color-bg-alt: #ffffff;
  --color-hover: #e2e2e2;
  --color-text-hover: #909090;
  --color-card-cta-bar: #0a0a0a22;
  --color-bg-main: #e5e5e5;
  --color-text-alt: #7d8590;
  --color-card-alt: #ffffff;
  --color-button-alt: #dcdfff;
  /* Accent colors */
  --color-accent-primary: #1e2ede;
  --color-accent-primary-alt: #eff0ff;
  --color-text-accent-primary: #3849ff;
  --color-accent-warning: #fc4747ff;
  --color-accent-warning-alt: #fff0f0;
}

body.dark,
body[data-theme="dark"] {
  --color-text-main: #e6edf3;
  --color-hover: #2b2b2b;
  --color-border: #2c2c2c;
  --color-bg-main: #121212;
  --color-bg-alt: #1a1a1a;
  --color-card-alt: #1e1e1e;
  --color-accent-primary-alt: #121549;
  --color-card-cta-bar: #0a0a0a66;
  color-scheme: dark;
}

* {
  font-family: "Roboto Mono Variable", monospace;
}
