@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  /*Colors*/
  --color-text-on-accent: #e6edf3;
  --color-border: #b2b2b2;
  --color-text-main: #212519;
  --color-bg-alt: #ffffff;
  --color-hover: #e2e2e2;
  --color-text-hover: #909090;
  --color-card-cta-bar: #0a0a0a22;
  --color-bg-main: #e5e5e5;
  --color-text-alt: #7d8590;
  --color-card-alt: #ffffff;
  --color-button-alt: #dcdfff;
  /* Accent colors */
  --color-accent-primary: #1e2ede;
  --color-accent-primary-alt: #eff0ff;
  --color-text-accent-primary: #3849ff;
  --color-accent-warning: #fc4747ff;
  --color-accent-warning-alt: #fc47471A;
  --color-accent-accept: #21b95f;
  --color-accent-secondary: #32E875;
  --color-accent-accept-alt: #21b95f26;
  --color-bg-main-accent: #ffffff;
  --color-inactive: #3d3d3d;
  --color-warning: #FFD300;
  --color-negative: #ED0F4E;

  --color-grade-bad: #6A1B9A;
  --color-grade-mid: #D81B60;
  --color-grade-good: #EF6C00;
}

body.dark,
body[data-theme="dark"] {
  --color-text-main: #e6edf3;
  --color-hover: #2b2b2b;
  --color-border: #2c2c2c;
  --color-bg-main: #121212;
  --color-bg-alt: #1a1a1a;
  --color-card-alt: #1e1e1e;
  --color-accent-primary-alt: #121549;
  --color-accent-accept: #32E875;
  --color-accent-accept-alt: #32E8751A;
  --color-card-cta-bar: #0a0a0a66;
  --color-bg-main-accent: #1c1c1c;
  --color-inactive: #b9b9b9;
  
  --color-grade-bad: #AB47BC;
  --color-grade-mid: #F06292;
  --color-grade-good: #FFB74D;
  color-scheme: dark;
}

* {
  font-family: "Roboto Mono Variable", monospace;
  scrollbar-color: #eff0ff transparent;
  scrollbar-width: thin;
}
