.addMaterialButton {
  border-radius: 1rem !important;
  padding: 0.5rem !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  gap: 0.5rem;
}
.addMaterialButton .addIcon {
  height: 100%;
  width: 2.5rem;
}
.addMaterialButton .addTitle {
  width: calc(100% - 2.5rem);
}

.modalContentCotainer {
  width: 50rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contentSlectContainer {
  padding: 2rem;
}
.bigOR {
  font-size: 3.5rem;
  padding: 1rem 0;
}
.input {
  width: 100%;
  outline: none;
  border-radius: var(--block-radius) 0 0 var(--block-radius);
  border-right: calc(var(--border-width)) var(--alt-text) solid;
  padding: 0.75rem;
}

.input:hover {
  background-color: rgba(from var(--main-text-color) r g b / 0.125);
}

.input:focus {
  background-color: rgba(from var(--main-text-color) r g b / 0.15);
}
.linkInput {
  border-radius: var(--block-radius);
  border: calc(var(--border-width) * 4) var(--alt-text) dashed;
  background-color: rgba(from var(--alt-text) r g b / 0.25);
  font-size: 1.75rem;
}
.linkInput[disabled] {
  background-color: rgba(from var(--alt-text) r g b / 0.125);
}
.linkInput:hover {
  background-color: rgba(from var(--alt-text) r g b / 0.35);
}
.linkInput:focus {
  background-color: rgba(from var(--alt-text) r g b / 0.375);
}
.linkInput[disabled]:hover {
  background-color: rgba(from var(--alt-text) r g b / 0.125);
}
.linkInput::placeholder {
  text-align: center;
}

.additionalDataContainer {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
div.additionalDataContainer:has(.errorText) {
  padding-top: 0;
}
.errorText {
  color: var(--warning-accent);
  text-align: center;
}
.typeSettingsContainer {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border-radius: var(--block-radius);
  border: calc(var(--border-width)) var(--alt-text) solid;
}
.typeSelectDropdown {
  height: 100% !important;
}
.typeSelectDropdown > div:not([style]) {
  border-radius: 0 var(--block-radius) var(--block-radius) 0 !important;
  height: 100% !important;
}
/* .displayCheckboxContainer {
  width: 100%;
  height: 100%;
  border-left: calc(var(--border-width)) var(--alt-text) solid;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.displayCheckboxTitle {
  user-select: none;
}
.displayCheckboxTitle.disabled {
  color: var(--alt-text);
} */
.confirmButtons {
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.confirmButtons > button {
  width: 25% !important;
  height: 100% !important;
  border-radius: calc(var(--block-radius) / 2) !important;
}
