.addMaterialButton {
  border-radius: 1rem !important;
  padding: 0.5rem !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  gap: 0.5rem;
}
.addMaterialButton .addIcon {
  height: 100%;
  width: 2.5rem;
}
.addMaterialButton .addTitle {
  width: calc(100% - 2.5rem);
}

.modalContentCotainer {
  width: 50rem;
}
.spacer {
  padding: 2rem;
}
