.addMaterialButton {
  border-radius: 1rem !important;
  padding: 0.5rem !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  align-content: center !important;
  gap: 0.5rem !important;
}
.addMaterialButton .addImgButton {
  height: 100% !important;
  width: 2.5rem !important;
}
.addMaterialButton > h4 {
  width: calc(100% - 2.5rem) !important;
}

.pageRoot {
  width: 100%;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  gap: 1.25em;
  
  background-color: var(--main-bg);
}
.main {
  width: 100%;
  max-width: 100rem;
  background-color: var(--alt-bg);
  border-radius: var(--block-radius);
  border: var(--border-width) var(--border-color) solid;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
}
.problem {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.problemWithGif {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1.5vh;
}
.gifContainer {
  padding: 0 1rem;
  height: 30vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1vw;
}
.gif {
  height: 100% !important;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap:2rem;
  font-size: 1.5rem;
}
.gif > svg{
  font-size: 5rem;
}
.spacer {
  padding: 2rem;
  width: 100%;
}
.nothingMessage {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  background-color: var(--main-bg);
}
.videoContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 1rem;
}
.materialContainer {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}
.addIcon {
  height: 100%;
  width: 2.5rem;
}