.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #b3b3b3;
  height: 10vh;
}

.rightContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 22.5vw;
}

/* TODO: make dropdown */
.rightContainer div {
  width: auto;
  border: 0.1rem #888 dashed;
}

.leftContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30vw;
}

.search {
  width: 20vw;
  height: 2vw;
  font-size: 1vw;
  border: 0.1rem #888 dashed;
}

.iconButton {
  font-size: 2vw;
}
