@import "tailwindcss";
/*@import "@/styles/Constants.css";*/
:root {
    /* Globals: dimensions */
    --nav-header-height: 10vh;
    /* Globals: colors */
    --bg-color: white;
    /*--main-text-color: black;*/
    --placeholder-text-color: rgba(0, 0, 0, 0.25);
    --accent-color: #696bff;
    --accent-hover-color: #9294ff;
    --accent-light-color: #f3f1ff;
    --inactive-color: #dddddd;


    /*Blocks*/
    --block-radius: 1.5vw;
    --border-width:0.1vw;

    /*defaults*/
    --default-padding: 2vw;
    --default-gap: 1vw;


    /*Colors*/
    --text-on-accent: #E6EDF3;
    --primary-accent: #1E2EDE;
    --border-color: #B2B2B2;
    --main-text-color: #212519;
    --alt-bg: #FFFFFF;
    --hover-color: #e2e2e2;
    --card-cta-bar-color: #0A0A0A22;
    --main-bg: #E5E5E5;
    --alt-text: #7D8590;

    /*Fonts*/
    @media (min-width: 600px) {
        --main-header-text: 2vw;
        --medium-text: 1vw;
    }
    @media (max-width: 600px) {
        --main-header-text: 3vw;
        --medium-text: 2vw;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --card-cta-bar-color: #0A0A0A66;
        --main-bg: #0A0A0A;
        --main-text-color: #E6EDF3;
        --hover-color: #0A0A0A;
        --border-color: #2C2C2C;
        --alt-bg: #1A1A1A;
    }
}


* {
    font-family: Roboto;
    color: var(--main-text-color);

}

main {
    min-height: calc(100vh - var(--nav-header-height));
    background-color: var(--main-bg);
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: var(--main-header-text);
}


