@media (max-width: 600px) {
    .cardGrid {
        height: 85vh;
        width: 100vw;
        padding: 1vh 5vw 5vw 5vw;
        justify-content: center;
        justify-self: center;
        /*margin-top: 2vh;*/
        /*gap: 10vh 10vh;*/
        /*display: grid;*/
        /*grid-gap: 1vw;*/
        /*grid-template-columns: repeat(1, 1fr);*/
        /*grid-template-rows: repeat(8, 1fr);*/
        /* grid-template-rows: 1.65fr 0.825fr 0.825fr 0.25fr; */
        /* grid-template-rows: 18.15vh 9.075vh 9.075vh 2.75vh; */
        /* grid-template-rows: 1fr 1fr 1fr; */
    }

    .problems {
        grid-column: 1;
        grid-row: 1;
    }

    .statistics {
        grid-column: 1;
        grid-row: 2;
        margin-top: 1vh;
    }

    .tournaments {
        grid-column: 1;
        grid-row: 3;
        margin-top: 1vh;
    }

    .tournaments.nosaved {
        grid-column: 1;
        grid-row: 4;
        margin-top: 1vh;
    }

    .savedTournament {
        grid-column: 1;
        grid-row: 5;
        margin-top: 1vh;
    }

    .fights {
        grid-column: 1;
        grid-row: 6;
        margin-top: 1vh;
    }

    .people {
        grid-column: 1;
        grid-row: 7;
        margin-top: 1vh;
    }

    .forOrganizators {
        grid-column: 1;
        grid-row: 8;
        margin-top: 1vh;
    }
}

@media (min-width: 600px) {
    .cardGrid {
        height: 85vh;
        width: 100vw;
        padding: 1vh 5vw 5vw 5vw;
        justify-content: center;
        justify-self: center;

        display: grid;
        grid-gap: 1vw;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1.65fr 0.825fr 0.825fr 0.25fr 1.4fr;
        /* grid-template-rows: 1.65fr 0.825fr 0.825fr 0.25fr; */
        /* grid-template-rows: 18.15vh 9.075vh 9.075vh 2.75vh; */
        /* grid-template-rows: 1fr 1fr 1fr; */
    }

    .problems {
        grid-column: 1;
        grid-row: 1 / span 2;
    }

    .statistics {
        grid-column: 1;
        grid-row: 3 / span 3;
    }

    .tournaments {
        grid-column: 2;
        grid-row: 1 / -2;
    }

    .tournaments.nosaved {
        grid-column: 2;
        grid-row: 1 / -1;
    }

    .savedTournament {
        grid-column: 2;
        grid-row: -2;
    }

    .fights {
        grid-column: 3;
        grid-row: 1;
    }

    .people {
        grid-column: 3;
        grid-row: 2 / span 2;
    }

    .forOrganizators {
        grid-column: 3;
        grid-row: 4 / span 2;
    }
}
