.contentContainer {
  width: 100%;
  border: var(--border-width) var(--border-color) solid;
  border-radius: var(--block-radius);
  overflow: hidden;
}
.containerTitle {
  padding: 0.5rem 1rem;
  font-size: 2rem;
  font-weight: bold;
  border-bottom: var(--border-width) var(--border-color) solid;
}
