.dot {
  position: relative;
  border-radius: 1000rem;
  width: 1rem;
  height: 1rem;
  border-width: calc(var(--border-width) * 2);
  border-style: solid;
  background-color: rgba(from var(--color) r g b / 0.25);
  border-color: var(--color);
}

body[data-theme="dark"] .dot{
    background-color: rgba(from var(--dark-color) r g b / 0.25);
    border-color: var(--dark-color);
}


.dot:hover{
  background-color: var(--color);
}

body[data-theme="dark"] .dot:hover{
    background-color: var(--dark-color);
}

.tooltip {
  background-color: var(--alt-bg);
  border: var(--border-width) var(--color) solid;
  color: var(--color);
  border-radius: calc(var(--block-radius) / 4);
  padding: 0.25rem;
  font-size: 1rem;
}

body[data-theme="dark"] .tooltip{
  border: var(--border-width) var(--dark-color) solid;
  color: var(--dark-color);
}