.dropdownContainer {
  position: relative;
  height: 1.5rem;
}

.dropdownButton {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--alt-bg);
  border-radius: 0.25rem;
  transition:
    color 250ms ease,
    background-color 250ms ease,
    border-color 250ms ease;
  padding: 0.5rem;
}

.dropdownContainer.dropdownDisabled .dropdownButton {
  background-color: var(--inactive);
}
.dropdownButton:hover {
  background-color: var(--hover-color);
}

.dropdownContainer.dropdownDisabled .dropdownButton:hover {
  background-color: var(--inactive);
}

.dropdownButton .arrowIcon {
  flex: 0 0 auto;
  min-width: 1rem;
  font-size: calc(var(--medium-text) / 1.3);
  transition-property: translate, rotate, color, background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

.dropdownButton:hover .arrowIcon {
  translate: 0 0.1em;
}

.dropdownContainer.dropdownDisabled .dropdownButton:hover .arrowIcon {
  translate: 0;
}

.dropdownButton.buttonOpened .arrowIcon {
  rotate: 180deg;
}

.dropdownButton.buttonOpened:hover .arrowIcon {
  translate: 0 -0.1em;
}

.dropdownButton .dropdownOption:hover {
  background-color: transparent;
}

.dropdownText {
  font-size: 1rem;
  text-align: center;
  user-select: none;
}

.dropdownMenu.display {
  display: none;
}

.dropdownMenu {
  /* display: none; */
  visibility: hidden;
  left: 0;
  top: calc(100% + 0.3em);
  /* animation: 250ms both appearence;
  animation-play-state: paused; */
  width: 100%;
  max-height: 30vh;
  background-color: var(--alt-bg);
  border: var(--border-width) var(--border-color) solid;
  box-shadow: 0 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  overflow: auto;
  z-index: 2000;
  backface-visibility: hidden;
  transform: translateY(-16px);
  transition:
    transform 250ms ease,
    opacity 250ms ease,
    visibility 250ms ease;
  opacity: 0;
}
.dropdownMenu.down {
  top: auto;
  bottom: calc(100% + 0.3em);
  opacity: 0;
  transform: translateY(1em);
}
.dropdownMenu.shown {
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
  transition:
    transform 250ms ease,
    opacity 250ms ease,
    visibility 250ms ease,
    background-color 250ms ease,
    color 250ms ease,
    border-color 250ms ease;
}

.dropdownMenu.animating {
  visibility: visible;
}
.dropdownOption {
  flex: 1 1 auto;
  min-width: 0;
  transition:
    color 250ms ease,
    background-color 250ms ease,
    border-color 250ms ease;
  user-select: none;
}

.dropdownOption:hover {
  background-color: var(--hover-color);
}
