.dropdownContainer {
  position: relative;
  width: 100%;
  height: 1.5rem;
}

.dropdownButton {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--alt-bg);
  border-radius: 0.25rem;
  transition: color 250ms ease, background-color 250ms ease, border-color 250ms ease;
  padding: 0.5rem;
}

.dropdownContainer.dropdownDisabled .dropdownButton {
  background-color: var(--inactive-color);
}
.dropdownButton:hover {
  background-color: var(--hover-color);
}

.dropdownContainer.dropdownDisabled .dropdownButton:hover {
  background-color: var(--inactive-color);
}

.dropdownButton .arrowIcon {
  /*margin-right: 1vw;*/
  font-size: calc(var(--medium-text) / 1.3);
  transition-property: translate rotate color background-color border-color;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

.dropdownButton:hover .arrowIcon {
  translate: 0 0.1em;
}

.dropdownContainer.dropdownDisabled .dropdownButton:hover .arrowIcon {
  translate: 0;
}

.dropdownButton.buttonOpened .arrowIcon {
  rotate: 180deg;
}

.dropdownButton.buttonOpened:hover .arrowIcon {
  translate: 0 -0.1em;
}

.dropdownButton .dropdownOption:hover {
  background-color: transparent;
}

.dropdownText {
  font-size: 1rem;
  text-align: center;
}

.dropdownMenu {
  display: none;
  left: 0;
  top: calc(100% + 0.3em);
  animation: 250ms both appearence;
  animation-play-state: paused;
  width: 100%;
  background-color: var(--alt-bg);
  border: var(--border-width) var(--border-color) solid;
  box-shadow: 0 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  overflow: hidden;
  z-index: 2;
}

@keyframes appearence {
  0% {
    opacity: 0;
    transform: translateY(-1em);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fading {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-1em);
  }
}

.dropdownMenu.menuAppearing {
  /* animation: 250ms forwards appearence; */
  animation-direction: normal;
  animation-play-state: running;
  display: block;
}

.dropdownMenu.menuFading {
  animation: 250ms both fading;
}

.dropdownOption {
  /*padding: 0.25em 1em;*/
  transition: color 250ms ease, background-color 250ms ease, border-color 250ms ease;
  user-select: none;
}

.dropdownOption:hover {
  background-color: var(--hover-color);
}
