.inputWrapper {
  font-size: 2rem;
  font-weight: bold;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.titledInputContainer {
  padding: 0.7vw;
  padding-left: 2vw;
  width: 35vw;
  border-width: var(--border-width);
  border-radius: var(--block-radius);
  border-color: var(--border-color);
  color: var(--text-color);
  background-color: var(--alt-card-bg);
  transition: color 250ms ease, background-color 250ms ease, border-color 250ms ease;
  cursor: text;
}

.titledInputContainer:hover {
  background-color: var(--hover-color);
}

.inputContainer input {
  outline: none;
  border: none;
  background-color: transparent;
  width: 100%;
}

.inputContainer svg {
  opacity: 0.5;
  cursor: pointer;
}

.title {
  user-select: none;
  font-size: 1.25rem;
  color: var(--main-text-color);
  font-weight: bold;
}

.erroredTitle {
  color: red;
}
