.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: none;
  z-index: 10;
}

.overlay.open {
  display: flex;
}

.contentContainer {
  position: relative;
  background-color: var(--alt-bg);
  border-radius: 2rem;
  box-shadow: 0 0 0.3em 0.1em rgba(0, 0, 0, 0.25);
  max-width: 80vw;
  max-height: 80vh;
  padding: 3rem;
  overflow: scroll;
}

.modalCloseButton {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.5rem;
  line-height: 100%;
  color: var(--main-text-color);
  transition: color 250ms ease, background-color 250ms ease, border-color 250ms ease;
  cursor: pointer;
}
.modalCloseButton[disabled] {
  color: var(--alt-text);
}
.modalCloseButton:hover {
  color: var(--alt-text);
}
