.problemCard {
  width: 100%;
  min-height: 5rem;
  background-color: var(--bg-color);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  margin-top: 1vh;
}

@media (max-width: 600px) {
  .problemContainer {
    width: 90vw;
    padding: 1rem;
  }

  .problemTitle {
    font-size: 6vw;
    font-weight: bold;
    color: var(--accent-color);
  }

  .problemText {
    font-size: 4vw;
  }
}

@media (min-width: 600px) {
  .problemContainer {
    width: 100%;
    padding: 1rem;
  }

  .problemTitle {
    font-size: 2rem;
    font-weight: bold;
    color: var(--accent-color);
  }

  .problemText {
    font-size: 1rem;
  }
}

.translation {
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.5);
  padding-top: 0.2rem;
  padding-bottom: 1rem;
}

.tournamentsContainer {
  min-width: 10%;
  background-color: #eee;
  border: 0.1rem #aaa dashed;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.editButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.3rem;
  min-width: 4rem;
}
.editButtons svg {
  color: var(--accent-color);
  transition: color 250ms ease;
}
.editButtons svg:hover {
  color: var(--accent-hover-color);
}
