.problemsContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25em;
  padding: 1.25rem 0;
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  gap: 1.25rem;
}

.filters .filter {
  padding: 0.5rem 1rem;
  border: 0.1rem #aaa dashed;
}

.errorCard {
  width: 100%;
  min-height: 5rem;
  background-color: #fff;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.errorCard h2 {
  font-size: 2rem;
  padding: 1rem;
}
.errorCard .errorLogo {
  width: 5rem;
  height: 5rem;
  background-color: #ddd;
  border: 0.1rem #888 dashed;
}
.errorCard p {
  padding: 1rem;
}
