.problemPage {
  background-color: var(--main-bg);
  display: flex;
  justify-content: center;
}

.problemsContainer {
  width: 80%;
  background-color: var(--main-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25vh;
  padding: 1.25rem 0;
  @media (max-width: 700px) {
    width: 95%;
  }
}
.errorCard {
  width: 100%;
  min-height: 5rem;
  background-color: #fff;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.errorCard h2 {
  font-size: 2rem;
  padding: 1rem;
}
.errorCard .errorLogo {
  width: 5rem;
  height: 5rem;
  background-color: #ddd;
  border: 0.1rem #888 dashed;
}
.errorCard p {
  padding: 1rem;
}
