.sectionCard{
    display: flex;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    border-radius: 10vw;
}

.icon{
    width: 3vw;
    height: 3vh;
}