.loginContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: var(--main-bg);
}

.login {
  background-color: var(--alt-bg);
  border-radius: var(--block-radius);
  height: 55rem;
  width: 50rem;
  @media (max-width: 1200px) {
    height: 90%;
    width: 90%;
    font-size: 0.5rem;
  }
  display: flex;
  flex-direction: column;
  /*justify-content: space-evenly;*/
  align-items: center;
  box-shadow: 0 0 1em 0.1em rgba(0, 0, 0, 0.5);
}

.formStyle {
  width: 100%;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.loginButton {
  width: 40rem;
  height: 5rem;
  @media (max-width: 1200px) {
    height: 40%;
    width: 80%;
  }
  font-size: 2rem;
  font-weight: bold;
}

.infoDiv {
  border-width: var(--border-width);
  border-radius: var(--block-radius);
  border-color: var(--border-color);
  justify-items: center;
  padding: 1rem;
  margin-top: 1.5rem;
  width: 35rem;
  @media (max-width: 1200px) {
    width: 80%;
  }
}

.infoHeader {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

.infoText {
  width: 80%;
  text-align: center;
  font-size: 1rem;
  line-height: 1.3rem;
  color: var(--alt-text);
}
